<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css'>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">
  </head>

<body class="app header-fixed footer sidebar-show sidebar-nav">

  <header class="app-header navbar">
    <% include partials/header %>
  </header>

  <div class="app-body">

    <div class="sidebar">
      <% include partials/sidebar %>
    </div>

    <main class="main mt-2 ml-3">
      <form id="formAddClient" name="addClient" method="post" action="/addClient">
        <div class="card w-100">
          <h3 class="card-header">View/Edit Client</h3>
          <div class="card-body">
            <h4> Client Information</h4>
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th style="width: 5%" scope="col">Name</th>
                  <th style="width: 20%" scope="col">Diversys Spectrum Products, Inc.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Agent Assigment:</th>
                  <td> <input type="name" class="form-control" id="agentAbbrev" name="agentAbbrev" value = "<%= result.client[0].agentAbbrev %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Contacts:</th>
                  <td> 
                  <% 
                    var contactList ='';
                    for (i = 0; i < result.contact.length; i++) {
                      contactList += result.contact[i].contactFirstName + ' ' + result.contact[i].contactLastName;
                      if (i < (result.contact.length - 1)){
                        contactList += '<br>';
                      }
                    }
                  %>
                  <%- contactList -%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Phone Number/s:</th>
                  <td> <input type="name" class="form-control" id="clientPhone" name="clientPhone" value = "<%= result.client[0].clientPhone %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Fax Number/s:</th>
                  <td> <input type="name" class="form-control" id="clientFax" name="clientFax" value = "<%= result.client[0].clientFax %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 1:</th>
                  <td> <input type="name" class="form-control" id="clientAddress1" name="clientAddress1" value = "<%= result.client[0].clientAddress1.addr %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 1 Type:</th>
                  <td> <input type="name" class="form-control" id="clientAddress1type" name="clientAddress1type" value = "<%= result.client[0].clientAddress1.type %>" readonly> </td>
                </tr>                <tr>
                  <th scope="row">Client Address 2:</th>
                  <td> <input type="name" class="form-control" id="clientAddress2" name="clientAddress2" value = "<%= result.client[0].clientAddress2.addr %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 2 Type:</th>
                  <td> <input type="name" class="form-control" id="clientAddress2type" name="clientAddress2type" value = "<%= result.client[0].clientAddress2.type %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 3:</th>
                  <td> <input type="name" class="form-control" id="clientAddress3" name="clientAddress3" value = "<%= result.client[0].clientAddress3.addr %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 3 Type:</th>
                  <td> <input type="name" class="form-control" id="clientAddress3type" name="clientAddress3type" value = "<%= result.client[0].clientAddress3.type %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 4:</th>
                  <td> <input type="name" class="form-control" id="clientAddress4" name="clientAddress4" value = "<%= result.client[0].clientAddress4.addr %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Address 4 Type:</th>
                  <td> <input type="name" class="form-control" id="clientAddress4type" name="clientAddress4type" value = "<%= result.client[0].clientAddress4.type %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Email Address 1:</th>
                  <td> <input type="name" class="form-control" id="clientEmail1" name="clientEmail1" value = "<%= result.client[0].clientEmail1 %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Email Address 2:</th>
                  <td> <input type="name" class="form-control" id="clientEmail2" name="clientEmail2" value = "<%= result.client[0].clientEmail2 %>" readonly> </td>
                </tr>
                <tr>
                  <th scope="row">Client Products:</th>
                  <td>
                    <%
                      var productList = '';
                      if(result.client[0].clientProdOX == "true"){
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdOX" checked readonly>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdOX" readonly>';
                      }
                      productList += '<label class="form-check-label" for="clientProdOX">OX</label>';
                      productList += '<br>';
                      if(result.client[0].clientProdPP == "true"){
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdPP" checked readonly>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdPP" readonly>';
                      }
                      productList += '<label class="form-check-label" for="clientProdPP">PP</label>';
                      productList += '<br>';
                      if(result.client[0].clientProdTP == "true"){
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdTP" checked readonly>';
                      }else{
                        productList += '<input class="form-check-input" type="checkbox" name="clientProdTP" readonly>';
                      }
                      productList += '<label class="form-check-label" for="clientProdTP">TP</label>';
                      console.log(productList);
                    %>
                    <%- productList %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Notes:</th>
                  <td colspan="3"> <%= result.client[0].clientNotes %> </td>
                </tr>
              </tbody>
            </table>

<!-- TODO Contact History Snapshot - thinking maybe last 5 entries -->

            <h4> Communication History</h4>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">DATE</th>
                    <th scope="col">AGENT</th>
                    <th scope="col">CONTACT 1</th>
                    <th scope="col">CONTACT 2</th>
                    <th scope="col">VISIT TYPE</th>
                    <th scope="col">REMARKS</th>
                  </tr>
                </thead>
                <tr>
                  <%
                    var eventsList ='';
                    var k = 1;
                    for (i = 0; i < result.events.length; i++) {
                      eventsList += '<th scope="row">' + k + '</th>';
                      var str = result.events[i].eventTimeIn._i.toString();
                      var str = str.substr(0,10);
                      eventsList += '<td>' + str + '</td>';
                      eventsList += '<td>' + result.events[i].agentAbbrev + '</td>';
                      eventsList += '<td>' + result.events[i].contact1 + '</td>';
                      eventsList += '<td>' + result.events[i].contact2 + '</td>';
                      eventsList += '<td>' + result.events[i].eventType + '</td>';
                      eventsList += '<td>' + result.events[i].eventRemarks + '</td>';
                      eventsList += '</tr>';
                  }
                  %>
                  <%- eventsList %>
                <tbody>

                </tbody>
              </table>
            </div>
<!-- BACK BUTTON -->
            <div class="form-row">
              <div class="form-group col">
                <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
              </div>
              <script>
                function goBack() {
                  window.history.back();
                }
              </script>
            </div>
          </div>
        </div>
    </main>

    <aside class="aside-menu-hidden">
      <!-- Aside menu content here -->
    </aside>

  </div>
  <footer class="app-footer">
    <% include partials/footer %>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</body>

</html>
